<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.seating.mapper.TbBlackListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.seating.entity.TbBlackList">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="end_Time" property="endTime" />
    </resultMap>

    <select id="pageOf" resultType="com.example.seating.dto.BlackListPageDTO">
    SELECT
	t1.id,
	DATE_FORMAT( t1.create_time, '%Y-%m-%d %H:%i:%S' ) AS create_time,
	DATE_FORMAT( t1.expect_end_time, '%Y-%m-%d %H:%i:%S' ) AS expect_end_time,
	t2.`name` AS user_name
    FROM
	tb_black_list t1
	LEFT JOIN tb_user t2 ON t1.user_id = t2.id
	AND t1.`status` = '1'
	ORDER BY t1.create_time DESC
    </select>
</mapper>
