<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.seating.mapper.TbSeatMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.seating.entity.TbSeat">
        <id column="id" property="id" />
        <result column="seat_name" property="seatName" />
        <result column="seat_status" property="seatStatus" />
        <result column="room_id" property="roomId" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
